@page "/plan-categories"
@rendermode Microsoft.AspNetCore.Components.Web.RenderMode.InteractiveServer
@inject NavigationManager Navigation
@inject HttpClient Http


<link href="app.css" rel="stylesheet" />

<div id="plan-details-page">
    <div class="plan-details-container">
        <h2 id="details-plan-title"></h2>
        <p id="details-plan-dates"></p>

        <h3>Категории:</h3>
        <div id="categories-details-list">
			<button @onclick="@(() => RedirectToPage($"add-category?user_id={Id}&plan_id={IdPlan}"))" class="btn-add-transaction" data-category-id="1">Добавить запись</button>
        </div>
		@if (!categories.Any())
		{
			<p><em>Пока нет категорий для этого плана.</em></p>
		}
        @foreach(Category c in categories)
        {
            <div class="category-detail-item">
                <div class="category-info">
                    <label class="category-name" for="plan-name">Название категории:</label>
                    <label class="category-name" id="category-name-display">@c.Name</label>

                    <label class="category-budget" for="plan-budget">Бюджет:</label>
                    <label class="category-budget" id="category-budget-display">@c.PlannedAmmount</label>
					@if(categoriesTransactions.Any())
					{
						<label class="category-spent" for="plan-spent">Потрачено:</label>
						<label class="category-spent" id="category-spent-display">@categoriesTransactions[c.Id]</label>
					}
                </div>
            </div>
            <button class="btn-primary" data-category-id="" @onclick="@(() => RedirectToPage($"edit-category?user_id={Id}&plan_id={IdPlan}&category_id={c.Id}"))">Изменить категорию</button>
            <button class="btn-primary" data-category-id="" @onclick="@(() => DeleteCategory(c.Id))">Удалить категорию</button>
        }

        <button @onclick="@(() => RedirectToPage($"home?user_id={Id}"))" class="btn-secondary" id="back-to-main-btn">Назад</button>
    </div>
</div>

@code {
	[Parameter]
	[SupplyParameterFromQuery(Name = "user_id")]
	public int Id { get; set; } = -1;

	[Parameter]
	[SupplyParameterFromQuery(Name = "del_id")]
	public int? DeleteCategoryId { get; set; } = null;

	[Parameter]
	[SupplyParameterFromQuery(Name = "action")]
	public string? Action { get; set; }

	[Parameter]
	[SupplyParameterFromQuery(Name = "plan_id")]
	public int IdPlan { get; set; } = -1;

	public List<Category> categories { get; set; } = new List<Category>();
	public Dictionary<int, decimal> categoriesTransactions { get; set; } = new Dictionary<int, decimal>();
	public bool isInitialized { get; set; } = false;
	public bool isProcess { get; set; } = false;
	void RedirectToPage(string url)
	{
		Navigation.NavigateTo(url);
	}
	protected override void OnInitialized()
	{
		isInitialized = true;
	}
	protected override async Task OnParametersSetAsync()
	{
		if (isProcess) return;
		if(Action != null)
		{
			var action = Action;
			Action = null;
			await Process(action);
		}
		else
		{
			await LoadCategories();
		}
	}
	public async Task Process(string action)
	{
		isProcess = true;
		switch (action)
		{
			case "create":
				if(CategoriesService.CurrentCategory != null)
				{
					await Http.PostAsJsonAsync<Category>("api/categories", CategoriesService.CurrentCategory);
					List<Category> cats = await Http.GetFromJsonAsync<List<Category>>("api/categories");
					PlanCategory planCategory = new PlanCategory();
					planCategory.PlanId = IdPlan;
					planCategory.CategoryId = cats.Last().Id;
					await Http.PostAsJsonAsync<PlanCategory>("api/planscategories", planCategory);
					CategoriesService.CurrentCategory = null;
					await LoadCategories();
				}
				break;
			case "delete":
				await Http.DeleteAsync($"/api/categories/{DeleteCategoryId}");
				List<Transaction> categoryTransactions = new();
				List<Transaction> transactions = await Http.GetFromJsonAsync<List<Transaction>>("api/transactions");
				foreach (var tr in transactions)
				{
					if (tr.CategoryId == DeleteCategoryId)
					{
						categoryTransactions.Add(tr);
					}
				}
				foreach (var t in categoryTransactions)
				{
					await Http.DeleteAsync($"api/transactions/{t.Id}");
				}
				await LoadCategories();
				break;
			case "edit":
				if(CategoriesService.CurrentCategory != null)
				{
					await Http.PutAsJsonAsync<Category>($"api/categories/{CategoriesService.CurrentCategory.Id}", CategoriesService.CurrentCategory);
					CategoriesService.CurrentCategory = null;
					await LoadCategories();
				}
				break;
		}
		ClearProcessParams();
		isProcess = false;
	}
	public async Task LoadCategories()
	{
		List<Category> allCats = await Http.GetFromJsonAsync<List<Category>>("api/categories");
		List<PlanCategory> planCats = await Http.GetFromJsonAsync<List<PlanCategory>>("/api/planscategories");
		List<Transaction> allTrans = await Http.GetFromJsonAsync<List<Transaction>>("api/transactions");
		//заоплняем категории для отображения
		List<int> planCatsId = planCats.Where(pc => pc.PlanId == IdPlan).Select(pc => pc.CategoryId).ToList();
		categories.Clear();
		categories.AddRange(allCats.Where(c => planCatsId.Contains(c.Id)));
		// для вывода скольок потрачено в каждой категории плана
		categoriesTransactions.Clear();
		List<Transaction> planTrans = allTrans.Where(t => t.PlanId == IdPlan).ToList();
		foreach(var c in categories)
		{
			decimal sum = 0;
			foreach(var t in planTrans)
			{
				if(c.Id == t.CategoryId)
				{
					sum += t.PlannedAmmount;
				}
			}
			categoriesTransactions.Add(c.Id, sum);
		}
	}

	public void DeleteCategory(int id)
	{
		categories.Remove(categories.ElementAt(id - 1));// ElementAt(Id-1)
		Navigation.NavigateTo($"plan-categories?id={Id}&plan_id={IdPlan}&del_id={id}&action=delete");
	}
	public void ClearProcessParams()
	{
		Action = null;
		DeleteCategoryId = null;
		Navigation.NavigateTo($"plan-categories?user_id={Id}&plan_id={IdPlan}", replace: true);
	}

}

