@page "/plan-categories"
@rendermode Microsoft.AspNetCore.Components.Web.RenderMode.InteractiveServer
@inject NavigationManager Navigation
@inject HttpClient Http
@inject CategoriesService Service

<link href="app.css" rel="stylesheet" />
@* 
<div id="plan-details-page">
    <div class="plan-details-container">
        <h2 id="details-plan-title"></h2>
        <p id="details-plan-dates"></p>

        <h3>Категории:</h3>
        <div id="categories-details-list">
            <button @onclick="@(() => RedirectToPage($"add-category?id={Id}&plan_id={IdPlan}"))" class="btn-add-transaction" data-category-id="1">Добавить запись</button>
        </div>
        @foreach(Category c in categories)
        {
            <div class="category-detail-item">
                <div class="category-info">
                    <label class="category-name" for="plan-name">Название категории:</label>
                    <label class="category-name" id="category-name-display">@c.Name</label>

                    <label class="category-budget" for="plan-budget">Бюджет:</label>
                    <label class="category-budget" id="category-budget-display">@c.PlannedAmmount</label>

                    <label class="category-spent" for="plan-spent">Потрачено:</label>
                    <label class="category-spent" id="category-spent-display">@categoriesTransactions[c.Id]</label>
                </div>
            </div>
            <button class="btn-edit-category" data-category-id="" @onclick="@(() => RedirectToPage($"edit-category?id={Id}&plan_id={IdPlan}&category_id={c.Id}"))">Изменить категорию</button>
            <button class="btn-edit-category" data-category-id="" @onclick="@(() => Del(c.Id))">Удалить категорию</button>
        }

        <button @onclick="@(() => RedirectToPage($"home?user_id={Id}"))" class="btn-secondary" id="back-to-main-btn">Назад</button>
    </div>
</div> *@

@code {
	[Parameter]
	[SupplyParameterFromQuery(Name = "user_id")]
	public int Id { get; set; } = -1;

	[Parameter]
	[SupplyParameterFromQuery(Name = "del_id")]
	public int? DeletePlanId { get; set; } = null;

	[Parameter]
	[SupplyParameterFromQuery(Name = "action")]
	public string? Action { get; set; }

	[Parameter]
	[SupplyParameterFromQuery(Name = "plan-id")]
	public int IdPlan { get; set; } = -1;

	public User user { get; set; } = new User();
	public List<Plan> plans { get; set; } = new List<Plan>();
	public bool isInitialized { get; set; } = false;
	public bool isProcess { get; set; } = false;
	void RedirectToPage(string url)
	{
		Navigation.NavigateTo(url);
	}
	protected override void OnInitialized()
	{
		isInitialized = true;
	}
	protected override async Task OnParametersSetAsync()
	{
		if (!isInitialized || isProcess) return;
		if(Action != null)
		{
			await Process();
		}
		else
		{
			await LoadCategories();
		}
	}
	public async Task Process()
	{
		isProcess = true;
		switch (Action)
		{
			case "create":
				await Http.PostAsJsonAsync<Plan>("api/plans", PlansService.CurrentPlan);
				List<Plan> pls = await Http.GetFromJsonAsync<List<Plan>>("api/plans");
				UserPlan? userPlan = new UserPlan();
				userPlan.UserId = Id;
				userPlan.PlanId = pls.Last().Id;
				await Http.PostAsJsonAsync<UserPlan>("api/usersplans", userPlan);
				PlansService.CurrentPlan = null;
				await LoadCategories();
				break;
			case "delete":
				await Http.DeleteAsync($"/api/plans/{DeletePlanId}");
				List<Transaction> planTransactions = new();
				List<Transaction> transactions = await Http.GetFromJsonAsync<List<Transaction>>("api/transactions");
				foreach (var tr in transactions)
				{
					if (tr.PlanId == DeletePlanId)
					{
						planTransactions.Add(tr);
					}
				}
				foreach (var t in planTransactions)
				{
					await Http.DeleteAsync($"api/transactions/{t.Id}");
				}
				await LoadCategories();
				break;
			case "edit":
				await Http.PutAsJsonAsync<Plan>($"api/plans/{PlansService.CurrentPlan.Id}", PlansService.CurrentPlan);
				PlansService.CurrentPlan = null;
				await LoadCategories();
				break;
		}
		ClearProcessParams();
		isProcess = false;
	}
	public async Task LoadCategories()
	{
		List<Plan> allPlans = await Http.GetFromJsonAsync<List<Plan>>("api/plans");
		List<UserPlan> userPlans = await Http.GetFromJsonAsync<List<UserPlan>>("/api/usersplans");
		List<int> userPlansId = userPlans.Where(up => up.UserId == Id).Select(up => up.PlanId).ToList();
		plans.Clear();
		plans.AddRange(allPlans.Where(p => userPlansId.Contains(p.Id)));
	}

	public string GetStringFormEnablePlan(Plan plan)
	{
		if (plan.IsEnable)
		{
			return "???????";
		}
		else
		{
			return "?????????";
		}
	}
	public void DeleteCategory(int id)
	{
		plans.Remove(plans.ElementAt(id - 10));// ElementAt(Id-1)
		Navigation.NavigateTo($"home?id={Id}&del_id={id}&action=delete");
	}
	public void ClearProcessParams()
	{
		Action = null;
		DeletePlanId = null;
		Navigation.NavigateTo($"home?user_id={Id}",replace:true);
	}

}

