@page "/groups"
@rendermode Microsoft.AspNetCore.Components.Web.RenderMode.InteractiveServer
@inject NavigationManager Navigation
@inject HttpClient Http

<link href="app.css" rel="stylesheet" />
<div id="my-groups-page">
    <header class="page-header">
        <button @onclick="@(() => RedirectToPage($"home?user_id={Id}"))" class="btn-back">← Назад</button>
        <h1>Ваши группы</h1>
    </header>

    <main class="groups-content">
        @if (groups != null && groups.Any())
        {
            @foreach (var group in groups)
            {
                <div class="group-card">
                    <h3>@group.Name</h3>
                    <div class="group-users">
                        <h4>Участники:</h4>
                        <ul>
                            @foreach (var user in members[group.Id])
                            {
                               @*  <li>@user.Nickname     <button @onclick="@(() => DelUserFromGroup(user.Id))" class="btn-secondary">Удалить из группы</button></li> *@
                            }
                        </ul>
                    </div>
                    <div class="group-actions">
                        <button @onclick="@(() => RedirectToPage("group-plan"))" class="btn-secondary">Посмотреть планы группы</button>
                        <button @onclick="@(() => RedirectToPage("add-user-to-group"))" class="btn-primary">Добавить пользователя</button>
						<button @onclick="@(() => RedirectToPage($"edit-group?user_id={Id}&group_id={group.Id}"))" class="btn-primary">Изменить данные группы</button>
                    </div>
                </div>
            }
        }
        else
        {
            <p>У вас пока нет групп.</p>
			<button @onclick="@(() => RedirectToPage($"create-group?user_id={Id}"))" class="btn-primary">Создать группу</button>
        }
    </main>
</div>

@code {
	[Parameter]
	[SupplyParameterFromQuery(Name = "user_id")]
	public int Id { get; set; } = -1;

	[Parameter]
	[SupplyParameterFromQuery(Name = "del_id")]
	public int? DeleteGroupId { get; set; } = null;

	[Parameter]
	[SupplyParameterFromQuery(Name = "action")]
	public string? Action { get; set; }

	public List<Group> groups { get; set; } = new List<Group>();
	Dictionary<int, List<User>> members = new Dictionary<int, List<User>>();
	public bool isInitialized { get; set; } = false;
	public bool isProcess { get; set; } = false;
	void RedirectToPage(string url)
	{
		Navigation.NavigateTo(url);
	}
	protected override void OnInitialized()
	{
		isInitialized = true;
	}
	protected override async Task OnParametersSetAsync()
	{
		if (isProcess) return;
		if (Action != null)
		{
			var action = Action;
			Action = null;
			await Process(action);
		}
		else
		{
			await LoadGroups();
		}
	}
	public async Task Process(string action)
	{
		isProcess = true;
		switch (action)
		{
			case "create":
				if (GroupsService.CurrentGroup != null)
				{
					await Http.PostAsJsonAsync<Group>("api/groups", GroupsService.CurrentGroup);
					List<Group> grs = await Http.GetFromJsonAsync<List<Group>>("api/groups");
					UsersGroup ug = new UsersGroup();
					ug.UserId = Id;
					ug.GroupId = grs.Last().Id;
					await Http.PostAsJsonAsync<UsersGroup>("api/usersgroups", ug);
					GroupsService.CurrentGroup = null;
					await LoadGroups();
				}
				break;
			case "delete_user":
				await Http.DeleteAsync($"/api/groups/{DeleteGroupId}");
				await LoadGroups();
				break;
			case "edit":
				if (GroupsService.CurrentGroup != null)
				{
					await Http.PutAsJsonAsync<Group>($"api/groups/{GroupsService.CurrentGroup.Id}", GroupsService.CurrentGroup);
					GroupsService.CurrentGroup = null;
					await LoadGroups();
				}
				break;
		}
		ClearProcessParams();
		isProcess = false;
	}
	public async Task LoadGroups()
	{
		List<Group> allGroups = await Http.GetFromJsonAsync<List<Group>>("api/groups");
		List<UsersGroup> allUsersGroups = await Http.GetFromJsonAsync<List<UsersGroup>>("api/usersgroups");
		List<User> allUsers = await Http.GetFromJsonAsync<List<User>>("api/users");
		List<UsersGroup> userGroups = allUsersGroups.Where(ug => ug.UserId == Id).ToList();
		List<int> userGroupsId = allUsersGroups.Where(ug => ug.UserId == Id).Select(ug => ug.GroupId).ToList();
		groups.Clear();
		groups = allGroups.Where(g => userGroupsId.Contains(g.Id)).ToList();
		members.Clear();
		foreach(UsersGroup ug in userGroups)
		{
			List<User> temp = new List<User>();
			foreach(User u in allUsers)
			{
				if(ug.UserId == u.Id)
				{
					temp.Add(u);
				}
			}
			members.Add(ug.GroupId, temp);
		}

	}
	public void ClearProcessParams()
	{
		Action = null;
		DeleteGroupId = null;
		Navigation.NavigateTo($"groups?user_id={Id}", replace: true);
	}

}
