@page "/home"  
@rendermode Microsoft.AspNetCore.Components.Web.RenderMode.InteractiveServer
@inject NavigationManager Navigation
@inject HttpClient Http
<link href="app.css" rel="stylesheet" />
<div id="main-page">
    <header class="main-header">
        <!-- Группируем название сайта и кнопку -->
        <div class="left-header-group">
            <div class="site-title">Планировщик расходов</div>
            <button @onclick="@(() => RedirectToPage($"create-plan?user_id={user.Id}"))" id="create-plan-btn" class="btn-primary switch-page-link">Создать план</button>
            <button @onclick="@(() => RedirectToPage($"groups?user_id={Id}"))" id="my-groups-btn" class="btn-secondary switch-page-link">Ваши группы</button>
        </div>

        <div class="user-profile">
            <span class="username">@(user.Nickname)</span>
            <span class="user-icon">👤</span>
        </div>
    </header>

    <main class="dashboard-content">
        <h2>Ваши планы</h2>
        <div class="plans-table-container">
            <table id="plans-table">
                <thead>
                    <tr>
                        <th>Название плана</th>
                        <th>Срок</th>
                        <th>Статус</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(Plan p in plans){
                         <tr class="plan-row" data-plan-id="@p.Id">
                        <td class="plan-title">@p.Name</td>
                        <td class="plan-date-range">@p.StartDate.ToString("dd.mm.yyyy") - @p.EndDate.ToString("dd.mm.yyyy")</td>
                        <td class="plan-status">@GetStringFormEnablePlan(p)</td>
                        <td class="plan-actions">
                            <button @onclick="@(() => RedirectToPage($"edit-plan?id={Id}&plan_id={p.Id}"))" class="btn-edit" data-plan-id="1">Редактировать</button>
                            <button @onclick="@(() => RedirectToPage($"plan-categories?id={Id}&plan_id={p.Id}"))" class="btn-details" data-plan-id="1">Категории</button>
                             <button @onclick="@(() => RedirectToPage($"transactions?id={Id}&plan_id={p.Id}"))" class="btn-details">Транзакции</button>
                            <button @onclick="@(() => DeletePlan(p.Id))" class="btn-close-plan" data-plan-id="1">Закрыть план</button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </main>
</div>

@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = "user_id")]
    public int Id { get; set; } = -1;

    [Parameter]
    [SupplyParameterFromQuery(Name = "del_id")]
    public int? DeletePlanId { get; set; } = null;

    [Parameter]
    [SupplyParameterFromQuery(Name = "action")]
    public string? Action { get; set; }

    public User user { get; set; } = new User();
    public List<Plan> plans { get; set; } = new List<Plan>();
    void RedirectToPage(string url)
    {
        Navigation.NavigateTo(url);
    }
    protected override async Task OnParametersSetAsync(){
        await LoadData();
    }
    public async Task LoadData(){
        if(Action == "delete"){
            if (DeletePlanId != null)
            {
                await Http.DeleteAsync($"/api/plans/{DeletePlanId}");
                List<Transaction> planTransactions = new();
                List<Transaction> transactions = await Http.GetFromJsonAsync<List<Transaction>>("api/transactions");
                foreach(var tr in transactions)
                {
                    if(tr.PlanId == DeletePlanId)
                    {
                        planTransactions.Add(tr);
                    }
                }
                foreach(var t in planTransactions)
                {
                    await Http.DeleteAsync($"api/transactions/{t.Id}");
                }
                Navigation.NavigateTo($"home?id={Id}");
            }
        }
        if(Action == "create")
        {
            await Http.PostAsJsonAsync<Plan>("api/plans", PlansService.CurrentPlan);
            List<Plan> pls = await Http.GetFromJsonAsync<List<Plan>>("api/plans");
            UserPlan? userPlan = new UserPlan();
            userPlan.UserId = Id;
            userPlan.PlanId = pls.Last().Id;
            await Http.PostAsJsonAsync<UserPlan>("api/usersplans", userPlan);
            Navigation.NavigateTo($"home?user_id={Id}");

        }
        if(Action == "edit")
        {
            await Http.PutAsJsonAsync<Plan>($"api/plans/{PlansService.CurrentPlan.Id}", PlansService.CurrentPlan);
            Navigation.NavigateTo($"home?user_id={Id}");
        }
        user = await Http.GetFromJsonAsync<User>($"/api/users/{Id}");
        List<UserPlan> userPlans = await Http.GetFromJsonAsync<List<UserPlan>>("/api/usersplans");
        if(userPlans.Count>0)
        {
            foreach (UserPlan up in userPlans)
            {
                if (up.UserId == user.Id)
                {
                    var resp = await Http.GetFromJsonAsync<Plan>($"api/plans/{up.PlanId}");
                    if(resp!= null)
                    {
                        plans.Add(resp);
                    }
                }
            }
        }
    }
    public string GetStringFormEnablePlan(Plan plan){
        if(plan.IsEnable){
            return "Активен";
        }
        else{
            return "Неактивен";
        }
    }
    public void DeletePlan(int id){
        plans.Remove(plans.ElementAt(id - 10));// ElementAt(Id-1)
        Navigation.NavigateTo($"home?id={Id}&del_id={id}&action=delete");
    }

}
