@page "/home"
@rendermode Microsoft.AspNetCore.Components.Web.RenderMode.InteractiveServer
@inject NavigationManager Navigation
@inject HttpClient Http
<link href="app.css" rel="stylesheet" />
<div id="main-page">
	<header class="main-header">
		<!-- ?????????? ???????? ????? ? ?????? -->
		<div class="left-header-group">
			<div class="site-title">??????????? ????????</div>
			<button @onclick="@(() => RedirectToPage($"create-plan?user_id={user.Id}"))" id="create-plan-btn" class="btn-primary switch-page-link">Создать план</button>
			<button @onclick="@(() => RedirectToPage($"groups?user_id={Id}"))" id="my-groups-btn" class="btn-secondary switch-page-link">Ваши группы</button>
		</div>

		<div class="user-profile">
			<span class="username">@(user.Nickname)</span>
			<span class="user-icon">??</span>
		</div>
	</header>

	<main class="dashboard-content">
		<h2>Ваши планы</h2>
		<div class="plans-table-container">
			<table id="plans-table">
				<thead>
					<tr>
						<th>???????? ?????</th>
						<th>????</th>
						<th>??????</th>
						<th>????????</th>
					</tr>
				</thead>
				<tbody>
					@foreach (Plan p in plans)
					{
						<tr class="plan-row" data-plan-id="@p.Id">
							<td class="plan-title">@p.Name</td>
							<td class="plan-date-range">@p.StartDate.ToString("dd.mm.yyyy") - @p.EndDate.ToString("dd.mm.yyyy")</td>
							<td class="plan-status">@GetStringFormEnablePlan(p)</td>
							<td class="plan-actions">
								<button @onclick="@(() => RedirectToPage($"edit-plan?user_id={Id}&plan_id={p.Id}"))" class="btn-edit" data-plan-id="1">Редактировать</button>
								<button @onclick="@(() => RedirectToPage($"plan-categories?user_id={Id}&plan_id={p.Id}"))" class="btn-details" data-plan-id="1">Категории</button>
								<button @onclick="@(() => RedirectToPage($"transactions?user_id={Id}&plan_id={p.Id}"))" class="btn-details">Транзакции</button>
								<button @onclick="@(() => DeletePlan(p.Id))" class="btn-close-plan" data-plan-id="1">Закрыть план</button>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</main>
</div>

@code {
	[Parameter]
	[SupplyParameterFromQuery(Name = "user_id")]
	public int Id { get; set; } = -1;

	[Parameter]
	[SupplyParameterFromQuery(Name = "del_id")]
	public int? DeletePlanId { get; set; } = null;

	[Parameter]
	[SupplyParameterFromQuery(Name = "action")]
	public string? Action { get; set; }

	public User user { get; set; } = new User();
	public List<Plan> plans { get; set; } = new List<Plan>();
	public bool isInitialized { get; set; } = false;
	public bool isProcess { get; set; } = false;
	void RedirectToPage(string url)
	{
		Navigation.NavigateTo(url);
	}
	protected override void OnInitialized()
	{
		isInitialized = true;
	}
	protected override async Task OnParametersSetAsync()
	{
		if (!isInitialized || isProcess) return;
		if(Action != null)
		{
			await Process();
		}
		else
		{
			await LoadUser();
		}
	}
	public async Task Process()
	{
		isProcess = true;
		switch (Action)
		{
			case "create":
				if(PlansService.CurrentPlan != null)
				{
					await Http.PostAsJsonAsync<Plan>("api/plans", PlansService.CurrentPlan);
					List<Plan> pls = await Http.GetFromJsonAsync<List<Plan>>("api/plans");
					UserPlan? userPlan = new UserPlan();
					userPlan.UserId = Id;
					userPlan.PlanId = pls[pls.Count - 1].Id;
					await Http.PostAsJsonAsync<UserPlan>("api/usersplans", userPlan);
					PlansService.CurrentPlan = null;
					await LoadUser();
				}
				break;
			case "delete":
				await Http.DeleteAsync($"/api/plans/{DeletePlanId}");
				List<Transaction> planTransactions = new();
				List<Transaction> transactions = await Http.GetFromJsonAsync<List<Transaction>>("api/transactions");
				foreach (var tr in transactions)
				{
					if (tr.PlanId == DeletePlanId)
					{
						planTransactions.Add(tr);
					}
				}
				foreach (var t in planTransactions)
				{
					await Http.DeleteAsync($"api/transactions/{t.Id}");
				}
				await LoadUser();
				break;
			case "edit":
				await Http.PutAsJsonAsync<Plan>($"api/plans/{PlansService.CurrentPlan.Id}", PlansService.CurrentPlan);
				PlansService.CurrentPlan = null;
				await LoadUser();
				break;
		}
		ClearProcessParams();
		isProcess = false;
	}
	public async Task LoadUser()
	{
		user = await Http.GetFromJsonAsync<User>($"/api/users/{Id}");
		await LoadPlans();
	}
	public async Task LoadPlans()
	{
		List<Plan> allPlans = await Http.GetFromJsonAsync<List<Plan>>("api/plans");
		List<UserPlan> userPlans = await Http.GetFromJsonAsync<List<UserPlan>>("/api/usersplans");
		List<int> userPlansId = userPlans.Where(up => up.UserId == Id).Select(up => up.PlanId).ToList();
		plans.Clear();
		plans.AddRange(allPlans.Where(p => userPlansId.Contains(p.Id)));
	}

	public string GetStringFormEnablePlan(Plan plan)
	{
		if (plan.IsEnable)
		{
			return "???????";
		}
		else
		{
			return "?????????";
		}
	}
	public void DeletePlan(int id)
	{
		plans.Remove(plans.ElementAt(id - 1));// ElementAt(Id-1)
		Navigation.NavigateTo($"home?id={Id}&del_id={id}&action=delete");
	}
	public void ClearProcessParams()
	{
		Action = null;
		DeletePlanId = null;
		Navigation.NavigateTo($"home?user_id={Id}",replace:true);
	}

}
