@page "/transactions"
@rendermode Microsoft.AspNetCore.Components.Web.RenderMode.InteractiveServer
@inject NavigationManager Navigation
@inject HttpClient Http
@inject TransactionsService Service
<link href="app.css" rel="stylesheet" />

<div id="transactions-page">
    <h2 id="transactions-title">Записи по плану</h2>

    @* Кнопка для добавления новой транзакции, передавая PlanId *@
    <button @onclick="@(() => RedirectToPage($"add-transaction?id={PlanId}"))" class="btn-add-transaction">Добавить запись</button>
    else if (!transactions.Any())
    {
        <p><em>Пока нет записей для этого плана.</em></p>
    }
    else
    {
        <table class="transactions-table">
            <thead>
                <tr>
                    <th>Категория</th>
                    <th>Сумма</th>
                    <th>Комментарий</th>
                    <th>Дата</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var t in transactions)
                {
                    <tr>
                        <td>@transactionCategories[t.Id]</td>
                        <td>@t.PlannedAmmount</td>
                        <td>@t.Comment</td>
                        <td>
                        <button @onclick="@(() => RedirectToPage($"add-transaction?id={Id}&plan_id={PlanId}&transaction_id={t.Id}"))">Редактировать</button>
                        <button @onclick="@(() => Del(t.Id))">Удалить</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    <button @onclick="@(() => RedirectToPage($"home?user_id={Id}"))" class="btn-secondary" id="back-to-main-btn">Назад</button>
</div>

@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = "user_id")]
    public int Id { get; set; } = -1;

    [Parameter]
    [SupplyParameterFromQuery(Name = "plan_id")]
    public int PlanId { get; set; } = -1;

    [Parameter]
    [SupplyParameterFromQuery(Name = "del_id")]
    public int? DeleteTransactionId { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "action")]
    public string? Action { get; set; }

    private List<Transaction> transactions;
    private List<Category> categories;

    public Dictionary<int, Category> transactionCategories = new Dictionary<int, Category>();

    void RedirectToPage(string url)
    {
        Navigation.NavigateTo(url);
    }


    protected override async Task OnParametersSetAsync()
    {
        if(Action == "delete" && DeleteTransactionId != null)
        {
            await Http.DeleteAsync($"api/transactions/{DeleteTransactionId}");
            RedirectToPage($"transactions?id={Id}&plan_id={PlanId}");
        }
        if(Action == "create")
        {
            await Http.PostAsJsonAsync<Transaction>("api/transactions",Service.CurrentTransaction);
        }
        if(Action == "edit")
        {
            await Http.PutAsJsonAsync<Transaction>($"api/transactions/{Service.CurrentTransaction.Id}", Service.CurrentTransaction);
        }
        List<Transaction> trans = await Http.GetFromJsonAsync<List<Transaction>>("api/transactions");    
        categories = await Http.GetFromJsonAsync<List<Category>>("api/categories");
        foreach(Transaction t in trans)
        {
            if(t.PlanId == PlanId)
            {
                transactions.Add(t);
            }
        }
        foreach(Transaction t in trans)
        {
            foreach(Category c in categories)
            {
                if(t.CategoryId == c.Id)
                {
                    transactionCategories.Add(t.Id,c);
                }
            }
        }
    }
    public void Del(int id)
    {
        transactions.RemoveAt(id - 1);
        RedirectToPage($"transactions?id={Id}&plan_id={PlanId}&del_id={id}");
    }
}
